{% extends "base.html" %}

{% block page_title %}Campus List{% endblock %}


{% block page_style %}
    <style>
        .container {
            background-color:#FFFFFF;
            border-radius: 20px;
            text-align:center;
            font-size:12pt;
            padding:1.2rem;
        }
    </style>
{% endblock %}

{% block content %}
<div class="container col-md-4 col-sm-4 col-sm-offset-4">
    <h2>Select Campus</h2>
    <table class="table table-striped" style="margin:0;">
        {% for campus in campuses %}
            <tr><td>
            <a href="/{{ campus.id }}/" style="color:#000000;"><h5>{{ campus.name }}</h5></a>
            </td></tr>
        {% endfor %}
    </table>
</div>
{% endblock %}