{% extends "base.html" %}

{% block page_title %}Campus List{% endblock %}


{% block page_style %}
    <style>
        .container {
            background-color:#FFFFFF;
            border-radius: 12px;
            text-align:center;
            font-size:12pt;
            padding:1.2rem;
        }

        h2 {
            padding-bottom:.8rem;
            font-size: 28pt;
        }
    </style>
{% endblock %}

{% block content %}
<div class="container col-md-4 offset-md-4 col-sm-8 offset-sm-2 col-xs-10 offset-xs-1">
    <h2>Select Campus</h2>
    <table class="table table-striped" style="margin:0;">
        {% for campus in campuses %}
            <tr><td>
            <a href="/{{ campus.id }}/" style="color:#000000;"><h4>{{ campus.name }}</h4></a>
            </td></tr>
        {% endfor %}
    </table>
</div>
{% endblock %}