{% extends 'base.html' %}

{% block page_title %}{{ calendar.name }}{% endblock %}

{% block page_style %}
    <style>
        .card {
            background-color:#DAF0F6;
            margin:auto;
            flex-direction:row;
            margin-bottom:.5rem;
            border-width:0;
        }

        .card .card-block{
            margin-bottom:0;
            padding:.5rem;
        }

        .container {
            background-color:#FFFFFF;
            border-radius: 20px;
            padding-bottom:1.5rem;
            padding-right:2.5rem;
            padding-left:2.5rem;
        }
    </style>
{% endblock %}

{% block page_script %}
    <script>
        $( document ).ready(function() {
            if (window.innerWidth <= 750) {
                $(".card").css("flex-direction","column");
            } else {
                $(".card").css("flex-direction","row");
            }
        });


        window.onresize = function() {
            if (window.innerWidth <= 750) {
                $(".card").css("flex-direction","column");
            } else {
                $(".card").css("flex-direction","row");
            }
        }
    </script>
{% endblock %}

{# put this back when it looks nicer #}
{#{% block page_header %}{{ calendar.name }}{% endblock %}#}

{% block content %}
    {% for day,events in days.items %}
        <div class="container col-md-8">
            <br>
            <h2>{{ day|date:"l n/d"}}</h2>
            <br>
            {% for event in events %}
                {% include "event_component.html" with event=event %}
            {% endfor %}
        </div>
        <br>
    {% endfor %}
{% endblock %}