<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link href="https://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>{{ calendar.name }}</title>
    <style>
        .table tbody>tr>td{
            vertical-align: middle;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Campus Calendar</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
{#            <li class="active"><a href="/">Home</a></li>#}
            <li><a href="/campus_list/">Campus List</a></li>
              {% if user.is_authenticated %}
                <li><a href="/my_orgs/">My Orgs</a></li>
                <li><a href="/logout/">Log Out</a></li>
              {% else %}
                <li><a href="/login/">Log In</a></li>
              {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <br><br><br> {# Front end engineers needed #}
    <div class="container well col-sm-8 col-sm-offset-2"  style="text-align:center">
        <h1>{{ calendar.name }}</h1>
        <br>
        <table class="table table-striped" style="font-size:13pt;">
            <th> </th>
            <th style="text-align:center">Event</th>
            <th style="text-align:center">Location</th>
            <th style="text-align:center">Date</th>
            <th style="text-align:center">Hosted by</th>
        {% for event in events %}
            <tr>
                <td><img src="{{ MEDIA_URL }}{{ event.graphic.name }}" style="max-width:150px;height:auto;"></td>
                <td>{{ event.name }}</td>
                <td>{{ event.location }}</td>
                <td>{{ event.datetime }}</td>
                <td>{{ event.organization.name }}</td>
            </tr>
        {% endfor %}
        </table>
    </div>

    <nav class="navbar navbar-inverse navbar-fixed-bottom">
      <div class="container-fluid col-sm-offset-8">
        <div class="navbar-header">
            <a href="https://spikeball.com" class="navbar-brand">
                Powered by
            </a>
        </div>
        <a href="https://spikeball.com">
            <img src="{% static "campus_calendar/spikeball_banner.png" %}" style="height:auto;width:152px;">
        </a>
      </div>
    </nav>
</body>
</html>