{% extends "base.html" %}

{% block page_title %}Campus Calendar Login{% endblock %}

{% block default_style %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css">
<style>
    body {
        background-color:#DAF0F6;
        <!-- color:#217DC1; -->
    }
</style>
{% endblock %}

{% block page_style %}
    <style>
        .container {
            background-color:#FFFFFF;
            border-radius: 20px;
            text-align:center;
            font-size:12pt;
            padding:1.2rem;
        }

        input {
            padding:.2rem;
            margin-top:.5rem;
            margin-bottom:.5rem;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container col-md-12" style="background-color:#DAF0F6">
    <div class="container col-md-4 offset-md-4">
        <form action="/login" method="POST">
        {% csrf_token %}

        <input name="username" type="username" id="inputUser" class="form-control" placeholder="Username" required autofocus>
        <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
{#        <div class="checkbox">#}
{#          <label>#}
{#            <input type="checkbox" value="remember-me"> Remember me#}
{#          </label>#}
{#        </div>#}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
{#        <a class="btn btn-lg btn-primary btn-block" href="new_account">Create an Account</a>#}
        </form>
    </div><!-- /container -->
    </div><!-- /container -->
    <br>
{% endblock %}