{% extends "base.html" %}

{% block page_title %}My Orgs{% endblock %}

{% block page_style %}
    <style>
        .container {
            background-color:#FFFFFF;
            border-radius: 20px;
            text-align:center;
            font-size:12pt;
            padding:1.2rem;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container col-sm-4 col-sm-offset-4" style="text-align:center">
        <h2>My Organizations</h2><br>
        <table class="table table-striped" style="font-size:12pt; vertical-align: middle;">
            {% for org in orgs %}
                <tr>
                    <td><h5>{{ org.name }}</h5></td>
                    <td><a href="/{{ org.id }}/create_event/"><button class="btn btn-primary">New Event</button></a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}